# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Gxepat Area.iml
# Datasource local storage ignored files
/../../../../../../../../:\unity\Projects\Coursera\Gxepat Area\.idea\.idea.Gxepat Area\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
